.app {
  font-size: 10px !important;
  background: url(./images/2048BG.jpg) center;
  background-size: cover;
  height: 100%;
}

body,html {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.keys {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.key {
  border-radius: .5rem;
  margin: 1rem;
  font-size: 1.5rem;
  padding: 1rem .5rem;
  transition: all .07s ease;
  text-align: center;
  color: white;
  text-shadow: 0 0 .5rem black;
  display:flex;
  flex-direction: column;
}

.playing {
  transform: scale(1.5);
  border-color: #ffc600;
  /* box-shadow: 0 0 1rem #ffc600; */
}


/* CONTROLS =========== */
.sound {
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  color: #ffc600;
}

.picture { 
  height: 150px;
  width: auto;
  transition: all .07s ease;
  border-radius: 50%;
}

.picture:hover {
  transform: scale(1.2);
  animation: pulse 1s infinite;
}

.numbers{
  font-size: 1.8rem;
  margin: 0;
}

#headers {
  text-align: center;
  color: #ffc600;
  font-size: 5rem;
  text-shadow: 0 0 2rem black;
  margin: 0;
}

#description {
  text-align: center;
  color: #ffffff;
  font-size: 1.2rem;
  margin: 0;
  text-shadow: 0 0 2rem black;
}

.arrow{
  height: 40px;
  width: 40px;
  margin: 10px auto;
}

#leftArrow {
  transform: rotate(-90deg);
}

#rightArrow {
  transform: rotate(90deg);
}

#downArrow {
  transform: rotate(180deg);
}

/* DISPLAY =============== */
.questions {
  height: 10vh;
  text-align: center;
  font-size: 4rem;
  color: #ffc600;
  text-shadow: 0 0 1rem black;
}

#progress {
  margin: 20px auto;
  width: 60%;
  background-color: white; 
  border-radius: 50px;
  
}

#progress-bar {
  width: 100%;
  height: 20px;
  background-color: #ffc600;
  border-radius: 50px;
}

#startButton {
  height: 50px;
  width: 150px; 
  border: none;
  background: rgb(116, 237, 98);
  color: white;
  font-size: 20px;
  border-radius: 15px;
  outline: none;
  border-bottom: 5px rgb(48, 123, 41) solid;
}

#startButton:focus, #startButton:active, #startButton:hover {
  background: rgb(38, 255, 0);
  height: 52px;
  border-bottom: 3px rgb(48, 123, 41) solid;
}

.scoreHeader {
  text-align: center;
  font-size: 12px;
}

.score {
  font-size: 36px;
  text-shadow: 0 0 1rem rgba(255, 255, 255, 0.81);
}

/* MODALS  =============== */
.learnMore > img {
  height: 3rem;
  top: 0px;
  margin-top: 0px; 
  margin: 1rem;
  margin-left: 0.5rem;
  position: absolute;
  border-radius: 50%;
}

#modal {
  visibility: hidden;
  color: black;
  position: absolute;
  /* height: 200px; */
  width: 50vw;
  margin-left: -25vw;
  top: 20%;
  left: 50%;
  background: rgb(255, 255, 255);
  border-radius: 15px;
  text-align: center;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.577);
  padding: 10px;
}

#modalExit {
  float: right;
  margin-top: -40px;
  margin-right: 20px;
  font-size: 26px;
}

#pauseButton > img{
  position: absolute;
  top: 0;
  margin: 1rem;
  margin-left: 4rem;
  height: 3rem;
  border-radius: 50%;
}

.learnMore > img:hover {
  transform: scale(1.2);
  animation: pulse 1s infinite;
}

#pauseButton > img:hover {
  transform: scale(1.2);
  animation: pulse 1s infinite;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 #ffc4007b;
  }
  70% {
      box-shadow: 0 0 0 14px #ffc40000;
  }
  100% {
      box-shadow: 0 0 0 0 #ffc40000;
  }
}


/* Mobile settings ============ */

@media (max-width: 600px) {
  .learnMore > img{
    height: 2rem;
  }

  #pauseButton > img{
    margin-left: 3rem;
    height: 2rem;
  }
  
}