body,html {
  font-family: sans-serif;
}

.word {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 1.4rem;
  letter-spacing: 1.4rem;
  word-spacing: 0rem;
  white-space: nowrap;
  text-align: justify;
  color: grey;
  display: flex;
  justify-content: space-around;
}

#title {
  text-align: center;
  margin:auto;
}

#clock { 
  height: 50vw;
  width: 50vw;
  background: rgb(0, 0, 0);
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.653);
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

#words {
  /* height: 35vw;
  width: 35vw; */
  padding: 0;
  margin: 0;
}

.row {
  line-height: 1.1rem;
  margin: 0;
  padding: 0;
  margin: 1.4rem;
  text-align: justify;
  display: flex; 
  justify-content: space-around;
}

