.app {
  font-size: 10px !important;
  background: url(images/2048BG.jpg) center;
  background-size: cover;
  /* height: 100%; */

}
body,html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.keys {
  display: flex;
  flex: 1;
  min-height: 60vh;
  align-items: center;
  justify-content: center;
}

.key {
  /* border: .4rem solid black; */
  border-radius: .5rem;
  margin: 1rem;
  font-size: 1.5rem;
  padding: 1rem .5rem;
  transition: all .07s ease;
  text-align: center;
  color: white;
  /* background: rgba(0,0,0,0.4); */
  text-shadow: 0 0 .5rem black;
  display:flex;
  flex-direction: column;
  height: 20rem;
}

.playing {
  transform: scale(1.5);
  border-color: #ffc600;
  /* box-shadow: 0 0 1rem #ffc600; */
}

kbd {
  display: block;
  font-size: 4rem;
}

.sound {
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  color: #ffc600;
}

.picture { 
  height: 150px;
  width: auto;
  transition: all .07s ease;
}

.numbers{
  font-size: 1.5rem;
  margin: 0;
}

#headers {
  text-align: center;
  color: #ffc600;
  font-size: 4rem;
  text-shadow: 0 0 2rem black;
  margin: 0;
}

#description {
  text-align: center;
  color: #ffffff;
  font-size: 2rem !important;
  margin: 0;
  text-shadow: 0 0 2rem black;
}

.questions {
  text-align: center;
  font-size: 5rem;
  color: #ffc600;
  text-shadow: 0 0 1rem black;
  /* stroke: 5px solid black; */
}

.learnMore {
  color: #ffc600;
  font-size: 45px;
  top: 0px;
  margin-top: 0px; 
  margin: 15px;
  position: absolute;
}

#progress {
  margin: auto;
  width: 60%;
  background-color: white; 
  border-radius: 50px;
}

#progress-bar {
  width: 100%;
  height: 20px;
  background-color: #ffc600;
  border-radius: 50px;
}

#startButton {
  height: 50px;
  width: 150px; 
  background: rgb(116, 237, 98);
  color: white;
  font-size: 20px;
  border-radius: 50px;
  border: 2px white solid;
}

#startButton:focus, #startButton:active {
  outline: none;
}

.scoreHeader {
  text-align: center;
  font-size: 12px;
}

.score {
  font-size: 24px;
}

.modal {
  color: black;
  position: absolute;
  height: 200px;
  width: 500px;
  margin-left: -250px;
  top: 30%;
  left: 50%;
  background: rgb(255, 255, 255);
  border-radius: 50px;
  text-align: center;
  padding: 10px;
}

.modalExit {
  float: right;
  margin-right: 20px;
  background: transparent;
  border: none;
  font-size: 26px;
}

.arrow{
  height: 40px;
  width: 40px;
  margin: auto;
}

#leftArrow {
  transform: rotate(-90deg);
}

#rightArrow {
  transform: rotate(90deg);
}

#downArrow {
  transform: rotate(180deg);
}